<!DOCTYPE html>
<html>
  <head>
    <title>Fabcats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"> -->

  </head>

  <body>
  	<%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
	<%= link_to "Contact Us", contactus_path %>
    <%= yield %>
  </body>
</html>
